#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@ --with autoreconf,python2,python3 --parallel
	# don't need --parallel given debhelper>=9.20160115

override_dh_auto_test:
	dh_auto_test -- V=1
override_dh_auto_install:
	# disable python byte-compiling by Automake
	echo -n > "${CURDIR}/py-compile"
	dh_auto_install
